* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #14141c;
}

:root{
  --blue : #2a4dcf;
  --purple : #5c42c0;
  --dark-purple : #2b1a50;
  --white : #fff;
  --aws : linear-gradient(
    to right,
    var(--blue),
    var(--purple),
    var(--dark-purple)
  );
}

.container {
  width: 325px;
  height: 700px;
  border-radius: 1.5em;
  background: black;
  box-shadow: 2px 0px 53px 1px var(--purple);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

.artist{
  margin: 0 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.track-art {
  margin: 2em;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 0px 53px 10px var(--purple);
  animation: rotate 15s linear infinite;
}

@keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.name {
  font-size: 2rem;
  font-family: cursive;
  font-weight: 800;
  color: var(--white);
}

.track-name {
  width: 50%;
  margin-top: 0.5em;
  font-size: 1.5rem;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.track-artist {
  margin-top: 0.4em;
  font-size: 0.8rem;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider_container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  appearance: none;
  height: 3px;
  background: var(--white) ;
  opacity: 0.7;
  border-radius: 2px;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--purple);
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}
.mute{
  color: var(--purple);
  padding-right: 20px;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 0.5rem;
  color: var(--white);
  font-family: cursive;
}

i.fa-volume-high,
i.fa-volume-xmark{
  cursor: pointer;
}

i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
  color: var(--white);
}

i.fa-play-circle,
i.fa-pause-circle{
  cursor: pointer;
  color: var(--purple);
}

i.fa-heart{
  color: var(--purple);
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.8;
}

i.fa-heart:hover{
  font-size: 2.2rem;
  opacity: 1;
}

.playList, .songList{
  background: black;
  z-index: 10;
  width: 325px;
  height: 700px;
  border-radius: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.playList h1, .songList h1{
  font-size: 2rem;
  color: var(--purple);
  font-family: cursive;
  text-align: center;
  margin: 1em;
}

i.close{
  color: var(--purple);
  font-size: 2rem;
}

.playItem, .songItem{
  margin: 1.5em;
  color: var(--white);
}

.play-track-name, .song-track-name{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.8rem;
  cursor: pointer;
}

i.fa-bars,
i.fa-xmark{
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--white);
}

.play-track-artist, .song-track-artist{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 1rem 0.8rem;
}

.items, .songs{
  max-height: 530px;
  border-radius: 10px;
  box-shadow: 2px 0px 53px 2px var(--purple);
  overflow-y: scroll;

}

.items::-webkit-scrollbar{
  display: none;
}

.songs::-webkit-scrollbar{
  display: none;
}

hr{
  border: 1px solid var(--purple);
}

i.fa-music{
  padding-left: 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup{
  background: black;
  z-index: 10;
  width: 180px;
  height: 20px;
  border-radius: 1.5em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.popup p{
  color: var(--white);
  text-align: center;
}

@keyframes pop-out {
  0% {
    color: var(--blue);
    transform: scale(0.5);
    opacity: 0;
  
  }
  50% {
    color: var(--purple);
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}